@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Bellota Text", sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-weight: 400;
}

.section1 {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.floating-bg {
    width: 150vw;
    height: 150vw;
    background-color: rgba(50, 231, 255, 0.8);
    position: absolute;
    border-radius: 45%;
    top: -125vw;
    left: calc(50% - 75vw);
    animation: rotate 30s infinite;
}

.floating-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(50, 231, 255, 0.1);
    position: absolute;
    border-radius: 40%;
    animation: rotate 30s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 20;
    position: relative;
}

.nav-sections {
    letter-spacing: 2px;
    margin-top: 25px;
    width: 10px;
    height: 200px;
    word-wrap: break-word;
    text-align: center;
    transition: width 0.5s;
    color: #fff;
    font-weight: 700;
}

.nav-sections:hover {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: width 1.2s;
}